<div class="fonts">
    <h2>{tr}Fonts{/tr}</h2>
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <h3 class="ff1">{tr}Font:{/tr} </h3>
            <p class="font1">In mauris integer etiam aliquet integer duis rhoncus ultricies cras in habitasse ac sociis
                porttitor placerat ac porttitor, in ac. A, tristique dapibus mauris, vut et porta? Enim, porta
                penatibus, augue egestas aliquam eu velit placerat, sociis hac et, pulvinar tincidunt amet ut turpis
                dapibus. Dolor. Lundium rhoncus elementum vel. Tempor sit nisi aliquam ut augue tincidunt tincidunt cum
                egestas massa, nunc etiam ac scelerisque auctor sed sed facilisis!</p>

            <h3 class="ff2">{tr}Font:{/tr} </h3>
            <p class="font2">In mauris integer etiam aliquet integer duis rhoncus ultricies cras in habitasse ac sociis
                porttitor placerat ac porttitor, in ac. A, tristique dapibus mauris, vut et porta? Enim, porta
                penatibus, augue egestas aliquam eu velit placerat, sociis hac et, pulvinar tincidunt amet ut turpis
                dapibus. Dolor. Lundium rhoncus elementum vel. Tempor sit nisi aliquam ut augue tincidunt tincidunt cum
                egestas massa, nunc etiam ac scelerisque auctor sed sed facilisis!</p>

            <h3 class="ff3">{tr}Font:{/tr} </h3>
            <p class="font3">In mauris integer etiam aliquet integer duis rhoncus ultricies cras in habitasse ac sociis
                porttitor placerat ac porttitor, in ac. A, tristique dapibus mauris, vut et porta? Enim, porta
                penatibus, augue egestas aliquam eu velit placerat, sociis hac et, pulvinar tincidunt amet ut turpis
                dapibus. Dolor. Lundium rhoncus elementum vel. Tempor sit nisi aliquam ut augue tincidunt tincidunt cum
                egestas massa, nunc etiam ac scelerisque auctor sed sed facilisis!</p>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="input">
                <p>
                    <label for="tc-font-size">{tr}Font size:{/tr}</label>
                    <input id="tc-font-size" class="nocolor" data-selector="p" data-element="font-size" type="text">
                </p>
                <p>
                    <input id="tc-font-bold" class="nocolor check" data-selector="p" data-element="font-weight" type="checkbox" data-check="600" data-default="normal">
                    {tr}Bold{/tr}
                </p>
                <p>
                    <input id="tc-font-italic" class="nocolor check" data-selector="p" data-element="font-style" type="checkbox" data-check="italic" data-default="normal">
                    {tr}Italic{/tr}
                </p>
                <p>
                    <input id="tc-font-upper" class="nocolor check" data-selector="p" data-element="text-transform" type="checkbox" data-check="uppercase" data-default="none">
                    {tr}Uppercase{/tr}
                </p>
            </div>
        </div>
    </div>
</div>
