/* Cyborg theme newsletter stylesheet */
$web-font-path: "https://fonts.googleapis.com/css?family=Roboto:400,700" !default;
@import url($web-font-path);

@import "../../base_files/css/newsletter.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/cyborg/variables";

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          1rem;
