// Lux 5.2.0 -- This is a copy of vendor/vendor_bundled/thomaspark/bootswatch/dist/lumen/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "lux" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green: #56c07b !default;
$teal:    #20c997 !default;
$cyan: #39a0cb !default;

$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$min-contrast-ratio:   2.3 !default;

// Options

$enable-rounded:            false !default;

// Prefix for :root CSS variables
$prefix:                      bs-;


// Body
$body-color:                $gray-700 !default;
$body-emphasis-color:       $black !default;

// Links
$link-shade-percentage:                   20% !default; // Bootstrap 5.3
$link-color: rgb(26, 26, 26);
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;


// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      system-ui, sans-serif; // "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                .75rem !default;
$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;

// Tables

$table-border-color:          rgba(0, 0, 0, .05) !default;

// Buttons + Forms

$input-btn-border-width:      0 !default;

// Buttons

$btn-line-height:             1.5rem !default;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;
$input-btn-padding-y-sm:      .5rem !default;
$input-btn-padding-x-sm:      1rem !default;
$input-btn-padding-y-lg:      2rem !default;
$input-btn-padding-x-lg:      2rem !default;
$btn-font-weight:             600 !default;

// Forms

$input-line-height:                     1.5 !default;
$input-bg:                              var(--#{$prefix}body-bg);
$input-disabled-bg:                     var(--#{$prefix}secondary-bg);
$input-group-addon-bg:                  var(--#{$prefix}tertiary-bg) !default; // $gray-300 !default;

// Navs
$nav-link-color:                    var(--#{$prefix}link-color) !default;
$nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;

// Navbar

$navbar-padding-y:                  1.5rem !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default; // rgb(26, 26, 26); //rgba($black, .3) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;

// Pagination

$pagination-border-color:           transparent !default;
$pagination-hover-border-color:     $pagination-border-color !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

// Code
$code-color:                      $body-color; //   $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file