// - - - - - - - - - -- Bootstrap CSS variable override - not a pure solution, but it works
.navbar {
    --bs-navbar-color: #fff !important;
}

//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: rgb(255, 255, 255);
    --tiki-top-color: rgba(0, 0, 0, 0.55);
    --tiki-top-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-top-text-color: rgba(0, 0, 0, 0.7);
    --tiki-top-border: solid #333;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: rgb(255, 255, 255);
    --tiki-topbar-color: rgba(0, 0, 0, 0.55);
    --tiki-topbar-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-text-color: rgba(0, 0, 0, 0.7);
    --tiki-topbar-border: solid #333;
}

.tiki-top-nav-dark {
    --tiki-top-bg: rgba(7, 54, 66, 1);
    --tiki-top-color: #fff;
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --tiki-top-border: solid rgb(85, 85, 85);
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: rgba(7, 54, 66, 1);
    --tiki-topbar-color: #fff;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
    --tiki-topbar-border: solid rgb(85, 85, 85);
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-width: 2px;
    --tiki-topbar-border-width: 2px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.55); // rgba(0, 0, 0, 0.9);
    --tiki-admin-top-nav-hover-color: rgba(0, 0, 0, 0.7);
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #fdf6e3;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #fdf6e3;
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #fff;
    --tiki-admin-top-nav-hover-color: #fff;
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgba(7, 54, 66, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-dark-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(7, 54, 66, 1);
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #B58900;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #839496;
    --bs-accordion-btn-color: #fff;
}