<div style="text-align:center; padding: 20px">
    <div class="diagram-saving">
        <p>{tr}Saving{/tr}</p>
        <img src="img/spinner.gif">
    </div>
    <div class="diagram-saved" style="display:none">
        <p>{tr}Saved{/tr}</p>
        <p>{tr}This window will close automatically in 3 seconds...{/tr}</p>
    </div>
    <div class="diagram-error" style="display:none">
        <p>{tr}An error occurred, please try again.{/tr}</p>
        <p class="diagram-error-message"></p>
        <button class="geBtn gePrimaryBtn">{tr}Close{/tr}</button>
    </div>
</div>
